body {
    background-image: url("img/background.png");
    background-color: whitesmoke;
    color: black;
    font-size: 22px;
    font-family: Titulo, Hipervinculos;
    margin: 0;
}

img#logo {
    width: 300px;
    display: block;
    margin: auto;
}



header{
    display: flex;
    min-height: 70px;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.logo2{
    display: flex;
    align-items: center;
}

.logo2 img{
    height: 50px;
    margin-right: 10px;
}

h1 {
    text-align: center; 
}
h2 {
    text-align: justify;
    font-size: 24px;
    font-family: Titulo;
}

nav {
    font-weight: 700;
    padding-right: 10px;
}

nav a:hover{
    background: rgb(25, 107, 155);
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

a{
    text-decoration: none;
    color: black;
    margin-inline-end: 75px;
}

div#slider {
    
    background-position: center;
    background-repeat: no-repeat;
    height: calc(70vh - 10px);
    animation: Ph 10s infinite;
    animation-delay: .1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes Ph {
    0% {
        background-image: url(../Imagenes/team1.jpg);
    }

    25% {
        background-image: url(../Imagenes/maubak.jpg);
    }

    50% {
        background-image: url(../Imagenes/PyJ.jpg);
    }

    75% {
        background-image: url(../Imagenes/captura_inicio.png);
    }

    100% {
        background-image: url(../Imagenes/captura_cayendo.png);
    }
}
article {
    text-align: justify;
    /*margin: 32px auto; */
    /* width: 80%; */
}

footer {
    left: 0px;
    bottom: 0px;
    height: 27px;
    width: 100%;
    /*background:white;*/
}

@font-face {
    font-family: Titulo;
    src: url(../fonts/GemunuLibre-VariableFont_wght.ttf);
}

@font-face {
    font-family: Hipervinculos;
    src: url(../fonts/StickNoBills-VariableFont_wght.ttf);
}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 0 auto;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
 }
 video {
     width: 600px;
     height: 500px;
 }

 header, .main {
     width: 90%;
     margin: auto;
    margin: 20px auto;
    
 }
  


   .main .articles {
       width:68.5%;
       
       float:left;
      
   }

   .main .articles article {
       padding: 20px;
       background: lightblue;
       margin-bottom: 20px;
       
   }

   

   aside {
       width: 30%;
       float: right;
   }

   form{
    max-width: 640px;
    margin: 0 auto;
}

form h2 {
    text-align: center;
}

.form.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    max-width: 100%;
}

.form.column label {
    margin-bottom: 0.5em;
}

.form.column input {
    height: 30px;
    background-color: transparent;
    border: black;
    border-bottom: 1px solid white;
    color: white;
}

.form.column textarea {
    background-color: transparent;
    border: black;
    border-bottom: 1px solid white;
    color: white;
}

form button {
    width: 100%;
    height: 35px;
    margin-bottom: 1em;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
button:hover{
    background: rgb(25, 107, 155);
}


a#play{
    background-color: white;
    width:"45%" ;
    height:"18%";
    display: block;
    text-align: center;
}

h2.tituloNS{
    text-align: center;
}

h1{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 15px blue, 0 0 5px blue;
    text-align: center;
}

div.galeria{
    align-items: center;
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6xp 20xp o rgba(0,0,0,0,19);
    float: left ;
    width: 350px;
}

div.galeria img{
    width: 100%;
    height: 400px;
}

div.galeria:hover{
    border: 1px solid lightblue;
    transform: rotate(-3deg);

}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px lightblue(70, 62, 105);
    padding: 10px;
}


h2.piecontact{
    text-align: center;
}

.pieinicio{
    text-align: center;
}
